* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.dark-theme {
  background-color: #001629;
  color: #fff;
}

.light-theme {
  background: #fff;
  color: #000;
}

.quote-card-dark-theme {
  box-shadow: blue 0px 0px 0px 2px inset, rgb(0, 0, 0) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(0, 0, 0) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(0, 0, 0) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(0, 0, 0) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}

.quote-card-light-theme {
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}

.quote-btn-dark-theme {
  button {
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background: #000;
    color: #fff;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover {
      color: #000;
      &::before {
        transform: translateX(0);
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background: #fff;
      color: #fff;
      height: 100%;
      width: 100%;
      z-index: -1;
      transform: translateX(-100%);
      transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

.dark-text {
  color: #fff;
}

.light-text {
  color: #000;
}

//main
.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px 0 20px;
  overflow: hidden;
  position: relative;

  .theme-btn {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 2px 20px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .quote-card {
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;

    .quote {
      margin: 0 0 20px 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      p {
        padding-top: 10px;
      }
    }

    .quote-btn {
      display: flex;
      align-items: center;
      width: 100%;
      button {
        padding: 8px 15px;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        background: none;
        color: #000;
        border: 1px solid black;
        border-radius: 4px;
        margin-right: 10px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:hover {
          color: #fff;
          &::before {
            transform: translateX(0);
          }
        }

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          background: #000;
          color: #fff;
          height: 100%;
          width: 100%;
          color: #fff;
          z-index: -1;
          transform: translateX(-100%);
          transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
  }
}

//footer
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      a {
        &:hover .bunny {
          transform: translateX(0%);
        }
      }
    }
  }
  .bunny {
    position: absolute;
    top: 25%;
    right: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transform: translateX(100%);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

//loader
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis .dark {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffffff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis .light {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis .dark:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis .dark:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis .dark:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis .dark:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.lds-ellipsis .light:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis .light:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis .light:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis .light:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
